$blue-color: #5e96fc;
$dark-blue-color: #4285f4;
$white-color: #ffffff;
$black-color: #000000;
$purple-color: #673ab7;
$purple-light-color: #cf9eff;
$green-color: #34a853;
$red-color: #ea4335;
$orange-color: #ff9520;
$grey-color: #eaebed;
$dark-grey-color: #8c8d8e;
$bg-color: #f7f7f8;

$border-radius: 8px;
