$blue-color: #5e96fc;
$dark-blue-color: #4285f4;
$white-color: #ffffff;
$black-color: #000000;
$violet-color: #7066ff;
$purple-color: #673ab7;
$purple-light-color: #cf9eff;
$green-color: #34a853;
$dropdown-item-color: #b1cca2;
$red-color: #ea4335;
$orange-color: #ffa866;
$grey-color: #eaebed;
$aside-bg-color: #c5c1ff;
$placeholder-color: #bbbcbd;
$dark-grey-color: #8c8d8e;
$bg-color: #f7f7f8;

$border-radius: 8px;
