.form {
  @include flexbox($align-items: center, $column-gap: 1rem, $flex: 1);
}

.input {
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  background: $white-color url('../../assets/search-icon.svg') no-repeat 1rem
    center;
  border: none;
  outline: none;

  &::placeholder {
    color: $placeholder-color;
  }

  &:focus {
    caret-color: $purple-color;
  }
}

.button {
  display: none;
  padding: 1rem;
}

.error {
  display: none;
}
