.wrapper {
  @include flexbox(
    $flex-direction: row,
    $justify-content: space-between,
    $align-items: center
  );
  max-width: 768px;
  width: 100%;
  padding: 1rem;
  background-color: $white-color;
  border-radius: $border-radius;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  user-select: none;
}

.button {
  border-radius: 50%;
  background-color: $purple-color;

  &:hover {
    opacity: 0.7;
    background-color: $purple-color;
  }
}
