.link {
  display: inline-block;
  height: fit-content;
  padding: 0.5rem;
  color: $violet-color;
  border: 2px solid $violet-color;
  border-radius: $border-radius;
  background-color: transparent;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $violet-color;
    color: $white-color;
  }

  &:active {
    transform: scale(1.02);
  }
}
